<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    COVID Vaccination Tracker
  </a>
</nav>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>This site tracks COVID-19 vaccination effort across the world. Vaccination numbers are updated regularly.</h2>
    </div>
  </div>
  <div class="row">
    <table class="table table-hover table-responsive">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Country, other</th>
        <th scope="col">Total Doses Administered</th>
        <th scope="col">Administered Today</th>
        <th scope="col">Today's Administered # vs. to Yesterday's</th>
        <th scope="col">Total Doses Distributed</th>
        <th scope="col">Distributed Today</th>
        <th scope="col">Today's Distributed # vs. Yesterday's</th>
      </tr>
      </thead>
      <tbody>
      <% @countries.each_with_index do |country, index| %>
        <tr>
          <th scope="row"><%= index+1 %></th>
          <td><%= country.name %></td>
          <td><%= number_with_delimiter(country.total_admin) %></td>
          <td><%= number_with_delimiter(country.today_admin) %></td>
          <td><%= number_to_percentage(country.today_admin_perc_inc, precision: 2) unless country.today_admin_perc_inc.blank? || country.today_admin_perc_inc >= 10000 %></td>
          <td><%= number_with_delimiter(country.total_dist) %></td>
          <td><%= number_with_delimiter(country.today_dist) %></td>
          <td><%= number_to_percentage(country.today_dist_perc_inc, precision: 2) unless country.today_dist_perc_inc.blank? || country.today_dist_perc_inc >= 10000 %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>